@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

header {
    background: rgb(31, 41, 55);
    width: 100vw;
}

html {
    width: 100vw;
}

button {
    padding: 4px 16px;
    background: none;
    border-radius: 7px;
}

button:hover {
    color: #1f2937;
    background: white;
    cursor: pointer;
}

/* .rotate90{
    transition: .15s; 
     rotate: 90deg; 
    transform: rotate(0.25turn);
} */
.navbar {
    flex: 0 0 1100px;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    padding: 0 32px 0 16px;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
}

.brand-title {
    margin: .3rem 1.5rem .3rem 0;
}

.navbar li,
.navbar a {
    color: white;
    list-style: none;
    text-decoration: none;
}

.navbar ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.navbar li {
    /* display: block; */
    cursor: pointer;
    width: 40px;
}

.navbar li:hover {
    font-size: 20px;
    align-self: center;
}

.toggle-button {
    position: absolute;
    right: 16px;
    top: .425rem;
    display: none;
    flex-direction: column;
    width: 30px;
    height: 20px;
    justify-content: space-between;
}

.toggle-button .bar {
    border-radius: 10px;
    background: white;
    width: 100%;
    height: 3px;
}

@media (max-width:600px) {
    .toggle-button {
        display: flex;
        align-self: center;
    }

    .brand-title {
        margin: .3rem 0;
        text-align: center;
    }

    .navbar-links {
        width: 100%;
        display: none;
    }

    .navbar-links.active {
        display: block;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        gap: .3rem;
        border-top: 2px solid whitesmoke;
    }

    .navbar li {
        width: 100%;
        text-align: center;
    }

    .navbar li:hover {
        background: rgba(41, 55, 73, 1);
        font-size: inherit;
    }
}

.content {
    max-width: 1100px;
    display: flex;
    margin: 24px auto auto auto;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 16px;
    /* border:2px solid white; */
}

.box {
    flex: 1 1 500px;
    padding: inherit;
}

.content .left {
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    flex: 1;
}

.content .left h2 {
    font-size: 32px;
    font-weight: 900;
}

.content .right {
    /* border:3px solid green; */
    flex: .7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .right img {
    width: clamp(240px, 360px, 80vw);
}

.main-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    background: whitesmoke;
    /* background: coral; */
}

.first-section {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.first-section-title {
    padding-top: 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 900;
    color: black;
    text-align: center;
}

.cards {
    display: flex;
    /* background: rgb(79, 78, 78); */
    gap: .9rem;
    padding: 16px;
    flex-wrap: wrap;
}

.card img {
    border: 3px solid #1f2937;
    padding: 4px;
    border-radius: 10px;
    width: clamp(80px, 240px, 18vw);
}

.card {
    display: flex;
    flex: 1 1 250px;
    flex-direction: column;
    gap: .3rem;
    align-items: center;
    border-radius: 10px;
    padding: .5rem;
    background: #e5e7eb;
}
.card:hover {
    box-shadow: 10px 10px 5px rgb(94, 92, 92);
}

.card p {
    color: black;
    text-align: center;
    font-size: .75rem;
}

